body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  background-color: #dad7cd;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.content {
  display: block;
  padding-top: 40px;
}
input {
  padding: 15px 25px;
  border-radius: 18px;
  border: 3px solid #344e41;
}
*:focus {
  outline: none;
}
::placeholder {
  font-size: 16px;
  color: #344e41;
}
#submit,
#reset {
  font-size: 16px;
  color: #dad7cd;
  background-color: #344e41;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 18px;
  border: 3px solid #344e41;
}
#submit:hover {
  background-color: #dad7cd;
  color: #344e41;
}
#reset:hover {
  background-color: #e36414;
  color: #dad7cd;
}
h2 {
  color: #e36414;
}
span {
  color: #344e41;
}
h1 {
  margin: 15px;
  color: #e36414;
}
p {
  margin: 15px;
  color: #780000;
  font-weight: 600;
  font-size: 17px;
}
